spring:
  datasource:
    url: jdbc:mysql://localhost:3306/course_design?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver


  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 3000

server:
  port: 8080
  servlet:
    context-path: /

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.tu.step_counter.entity
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    com.tu: debug